table, tr, th {
    background-color: rgba(0, 0, 0, 0.932);
    color: whitesmoke;
    border: 1px solid;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th {
    padding: 15px;
    font-weight: bold;
    font-size: large;
    text-align: center;
}
.butt{
    background-color: orange;
    color: whitesmoke;
    font-weight: bold;   
}
.right{
    float: right;
}
.tick{
    text-align: center;
    font-weight: bolder;
}